services:
  mongo:
    image: mongo:6 
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.15.0
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
    ports:
      - "9200:9200"
    volumes:
      - esdata:/usr/share/elasticsearch/data
    
  backend: 
    build:
      context: ./BE
      dockerfile: Dockerfile
      target: dev  
    ports:
      - "8000:${BACKEND_PORT}"
    volumes:
      - ./BE:/app 
      - /app/node_modules   
    environment: 
      - NODE_ENV=development 
      - PORT=${BACKEND_PORT}
      - JWT_SECRET=${JWT_SECRET}
      - JWT_EXPIRES_IN=${JWT_EXPIRES_IN}
      - JWT_REFRESH_SECRET=${JWT_REFRESH_SECRET}
      - JWT_REFRESH_EXPIRES_IN=${JWT_REFRESH_EXPIRES_IN}
      - EMAIL_USER=${EMAIL_USER}
      - EMAIL_PASS=${EMAIL_PASS}
      - DB_HOST=${MONGO_HOST}
      - DB_PORT=${MONGO_PORT}
      - DB_NAME=e_commerce_final_dev
      - MONGO_URI=mongodb://${MONGO_HOST}:${MONGO_PORT}/e_commerce_final_dev 
      - ELASTIC_URL=http://elasticsearch:9200
    depends_on: [mongo, elasticsearch]


  frontend:
    build: 
      context: ./fe
      dockerfile: Dockerfile
      target: dev 
    ports:
      - "3000:${FRONTEND_PORT}"
    volumes:
      - ./fe:/app 
      - /app/node_modules 
    environment:
      - NODE_ENV=development 
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
      - WATCHPACK_INTERVAL=1000
      - REACT_APP_BACKEND_URL=${API_URL}
    depends_on:
      - backend

volumes:
  mongo_data:
  esdata:
  
