services:
  mongo:
    image: mongo:6
    container_name: mongo_prod
    restart: unless-stopped
    volumes:
      - mongo_data:/data/db
    
  backend_prod: 
    image: ${BE_IMAGE}
    build:
      context: ./BE
      dockerfile: Dockerfile
      target: prod
    environment: 
      - NODE_ENV=production
      - PORT=${BACKEND_PORT}
      - JWT_SECRET=${JWT_SECRET}
      - JWT_EXPIRES_IN=${JWT_EXPIRES_IN}
      - JWT_REFRESH_SECRET=${JWT_REFRESH_SECRET}
      - JWT_REFRESH_EXPIRES_IN=${JWT_REFRESH_EXPIRES_IN}
      - EMAIL_USER=${EMAIL_USER}
      - EMAIL_PASS=${EMAIL_PASS}
      - DB_HOST=mongo_prod
      - DB_PORT=27017
      - MONGO_URI=mongodb://mongo_prod:27017/e_commerce_final_prod
    depends_on: [mongo]

  frontend_prod:
    image: ${FE_IMAGE}
    build: 
      context: ./fe
      dockerfile: Dockerfile
      target: prod
    restart: unless-stopped
    ports:
      - "80:80"  
    environment:
      - NODE_ENV=production
      - FRONTEND_PORT=${FRONTEND_PORT}
      - REACT_APP_BACKEND_URL=${API_URL}
    depends_on:
      - backend_prod
 
volumes:
  mongo_data:
  
