.layout-customer{
    &__header{
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        height: 80px !important; 
    }
    &__nav{
        // background-color: rgb(0, 255, 26)!important;
    }

    &__main{
        padding-top: 100px !important;
        min-height: calc(100vh - 100px);
        background-color: #f5f5f5;
    }
}